*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --primary-color: #ff7613;
    --text-color: #727171;
}
html{
    font-size: 17px;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}
/*layouts*/
.container{
    max-width: 95%;
    margin: 60px auto;
    height: 1250px;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    background: #070707;
}
/*for both the h1s*/
.profile h1{ 
    margin-bottom: 10px;
    display:inline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 200;
}
#last_name{
    color: #ff7613;
}
p{
    font-weight: 500;
}
.profile{
    text-align: center;
}


#description{
    margin-top: 20px;
    line-height: 20px;
}

.profile h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: white;
    opacity: 0.7;
}
.pfp{
    width: 20%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
    border: 5px groove orangered;
}
.pfp img{
    width:100%;
    height: 100%;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.left{
    flex: 1;
    padding:30px
}
.left p{
    line-height: 2;
}
.left ul li{
    line-height: 2;
}
h2{
    background: #ff7613;
    padding: 13px;
    color: beige;
    margin: 15px 0;
    font-size: 20px;
    border-radius: 0 50px 50px 0;
}
.right{
    flex: 1;
    padding: 30px;
}
.right h3{
    margin-bottom: 5px;
}
.right p{
    line-height: 2;
}
.right ul li{
    line-height: 2;
}
ul li{
    list-style-position: inside;
    list-style-type: square;
    padding-left: 20px;
}
header{
    text-align: center;
}
nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}
footer{
    text-align: center;
    background-color: #ff7613;
    color: black;
}
a{
    color: beige;
    
}
a:hover{
    background-color: whitesmoke;
    color: #070707;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .container{
        width: 95%;
    }
    h2{
        font-size: 18px;
    }
    
}